@import "../abstracts";

.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        width: 50%;

        button {
            width: 8rem;
            align-self: flex-end;
        }
    }
}
