.form {
   display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.4rem;
}

.form-row > label {
    flex: 1;
    padding: 0 0.4rem 0 0;
    color: gray;
}

.form-row > input {
    flex: 4;
    padding: 0.4rem 0.4rem;
    border: 1px solid gray;
    border-radius: 0.2rem;
}
